USE [master]
GO
/****** Object:  Database [IOT]    Script Date: 10/30/2025 6:31:20 PM ******/
CREATE DATABASE [IOT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IOT', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\IOT.mdf' , SIZE = 8192KB , MAXSIZE = 5242880KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IOT_log', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\IOT_log.ldf' , SIZE = 8192KB , MAXSIZE = 102400KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IOT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IOT]
GO
/****** Object:  User [phong_iot]    Script Date: 10/30/2025 6:31:20 PM ******/
CREATE USER [phong_iot] FOR LOGIN [phong_iot] WITH DEFAULT_SCHEMA=[phong_iot]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [phong_iot]
GO
ALTER ROLE [db_datareader] ADD MEMBER [phong_iot]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [phong_iot]
GO
/****** Object:  Schema [phong_iot]    Script Date: 10/30/2025 6:31:20 PM ******/
CREATE SCHEMA [phong_iot]
GO
/****** Object:  Table [dbo].[BinData]    Script Date: 10/30/2025 6:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FillLevel] [real] NOT NULL,
	[IsOpened] [bit] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BinData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceStatuses]    Script Date: 10/30/2025 6:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [nvarchar](450) NOT NULL,
	[ConnectionId] [nvarchar](450) NOT NULL,
	[IsAppOpen] [bit] NOT NULL,
	[LastUpdateTime] [datetime2](7) NOT NULL,
	[FcmToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_DeviceStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FcmTokens]    Script Date: 10/30/2025 6:31:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FcmTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](255) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[ReceiveNotifications] [bit] NOT NULL,
	[LastNotificationSent] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BinData] ON 

INSERT [dbo].[BinData] ([Id], [FillLevel], [IsOpened], [Timestamp]) VALUES (1, 35.5, 0, CAST(N'2025-10-05T16:16:49.6100000' AS DateTime2))
INSERT [dbo].[BinData] ([Id], [FillLevel], [IsOpened], [Timestamp]) VALUES (2, 50.2, 1, CAST(N'2025-10-06T16:16:49.6100000' AS DateTime2))
INSERT [dbo].[BinData] ([Id], [FillLevel], [IsOpened], [Timestamp]) VALUES (3, 72.8, 0, CAST(N'2025-10-07T16:16:49.6100000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[BinData] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceStatuses] ON 

INSERT [dbo].[DeviceStatuses] ([Id], [DeviceId], [ConnectionId], [IsAppOpen], [LastUpdateTime], [FcmToken]) VALUES (1, N'c036e684-5b4e-4924-95bd-ee0b97e66678', N'manual', 0, CAST(N'2025-10-24T09:17:10.1910872' AS DateTime2), N'dx1ob4DbStObnZpv4bGkzW:APA91bH8_9rk6Qz-BdQQo7YgFoIPbANr7wLcPKz6IQ61dDR1AshyRJoi56uEKaQDAfPWrMLNmcthvB_pAU5Ax0oY2ju_mQJs5-BmNTyNrLyfYYR83YDEKBE')
INSERT [dbo].[DeviceStatuses] ([Id], [DeviceId], [ConnectionId], [IsAppOpen], [LastUpdateTime], [FcmToken]) VALUES (2, N'02c151a0-aad9-4251-b4bc-2f450d43c48c', N'manual', 1, CAST(N'2025-10-29T15:58:22.5847582' AS DateTime2), N'fdQbZmvXRXal4WAHnYhj3g:APA91bGE1Jr1urq9HL9XvUtRBWHRQWnO8m7elhk7iG-oNaUZ7-D7TvovqTTV8l6hZFmrH0MQDpj97G0LjOcrM2vGJ_fqg8zWZkvP9o6vHN_gvlMf_4HsHmo')
INSERT [dbo].[DeviceStatuses] ([Id], [DeviceId], [ConnectionId], [IsAppOpen], [LastUpdateTime], [FcmToken]) VALUES (3, N'2eecb9e8-e73b-465b-a04b-42aa5636fe4e', N'manual', 0, CAST(N'2025-10-25T06:01:00.7436510' AS DateTime2), N'eZPsA5v9RK6DQezF4vlqh-:APA91bGemSrRlJ6nfvSZ4a1wM_mtrbW3wSQqUOqqaOQnTnM9eNo2w6F8sVXRbQcL1tXpqNlNawlWFoqzzpcaNzJLsfEfsT6IVysPiM4wUeBEAAiFJoZgJ8A')
SET IDENTITY_INSERT [dbo].[DeviceStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[FcmTokens] ON 

INSERT [dbo].[FcmTokens] ([Id], [UserId], [Token], [UpdatedAt], [ReceiveNotifications], [LastNotificationSent]) VALUES (1, N'02c151a0-aad9-4251-b4bc-2f450d43c48c', N'fdQbZmvXRXal4WAHnYhj3g:APA91bGE1Jr1urq9HL9XvUtRBWHRQWnO8m7elhk7iG-oNaUZ7-D7TvovqTTV8l6hZFmrH0MQDpj97G0LjOcrM2vGJ_fqg8zWZkvP9o6vHN_gvlMf_4HsHmo', CAST(N'2025-10-11T08:09:49.750' AS DateTime), 1, NULL)
INSERT [dbo].[FcmTokens] ([Id], [UserId], [Token], [UpdatedAt], [ReceiveNotifications], [LastNotificationSent]) VALUES (2, N'c036e684-5b4e-4924-95bd-ee0b97e66678', N'dx1ob4DbStObnZpv4bGkzW:APA91bH8_9rk6Qz-BdQQo7YgFoIPbANr7wLcPKz6IQ61dDR1AshyRJoi56uEKaQDAfPWrMLNmcthvB_pAU5Ax0oY2ju_mQJs5-BmNTyNrLyfYYR83YDEKBE', CAST(N'2025-10-11T09:08:16.137' AS DateTime), 1, NULL)
INSERT [dbo].[FcmTokens] ([Id], [UserId], [Token], [UpdatedAt], [ReceiveNotifications], [LastNotificationSent]) VALUES (3, N'2eecb9e8-e73b-465b-a04b-42aa5636fe4e', N'eZPsA5v9RK6DQezF4vlqh-:APA91bGemSrRlJ6nfvSZ4a1wM_mtrbW3wSQqUOqqaOQnTnM9eNo2w6F8sVXRbQcL1tXpqNlNawlWFoqzzpcaNzJLsfEfsT6IVysPiM4wUeBEAAiFJoZgJ8A', CAST(N'2025-10-25T05:57:42.883' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[FcmTokens] OFF
GO
ALTER TABLE [dbo].[FcmTokens] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[FcmTokens] ADD  DEFAULT ((1)) FOR [ReceiveNotifications]
GO
USE [master]
GO
